@import "../../vendor/slick-carousel/slick/slick.scss";
@import "../slick-customized/slick-theme.scss";

.slider{
	background-image: url('../images/slider-right-image.png');
	background-position: top left;
	background-size: 604px, 433px;
	padding: 7em 0;

	@include imgRetina('../images/slider-right-image', png, 604px, 433px, top left);

	&__container{
		outline: none;

		div{
			outline: none;
		}

		h3{
			color: $m02-font-gray;
			font-weight: 300;
			margin: 0 0 0.5em 0;
		}

		p{
			color: $m02-font-gray2;
			line-height: 1.8em;
			margin-bottom: 2em;
		}

		a{
			display: inline-block;
			font-size: 1.1em;
			margin-bottom: 2em;
		}
	}
}

@media only screen and (max-width : 1200px) {
	.slider{
		background-position: center left !important;
		background-size: auto 90% !important;
	}
}

@media only screen and (max-width : 992px) {
	.slider{
		background-position: center left !important;
		background-size: auto 60% !important;
	}
}

@media only screen and (max-width : 768px) {
	.slider{
		background: transparent !important;
		padding: 4em 0;
	}
}

@media only screen and (max-width : 480px) {
	.slider{
		background: transparent !important;
		padding: 4em 0;
	}
}