//Font family
$font-family: 'Roboto', sans-serif;

//Background colors
$m02-background-white: #FFFFFF;
$m02-background-gray: #F9F9F9;
$m02-background-gray2: #5E6977;
$m02-background-gray3: #545E6B;
$m02-background-blue: #39ADD1;
$m02-background-green: #7DC855;
$m02-background-green2: #5E9B3D;

//Border colors
$m02-border-gray: #E1E8EE;

//Font colors
$m02-font-white: #FFFFFF;
$m02-font-gray: #43484D;
$m02-font-gray2: #86939E;
$m02-font-blue: #39ADD1;
$m02-font-blue2: #358ED7;

$m02-gray: #86939E;