//Font family
$font-family: 'Roboto', sans-serif;

//Background colors
$m02-background-gray: #F9F9F9;
$m02-background-gray2: #5E6977;
$m02-background-gray3: #545E6B;

//Font colors
$m02-font-gray: #43484D;
$m02-font-gray2: #86939E;

$m02-gray: #86939E;